<h2><%= t('devise.registrations.new.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-row">
    <div class="form-group col-md-5">
      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= f.label :apellido %>
      <%= f.text_field :apellido, class: "form-control"  %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :fecha_nacimiento %> <br>
      <%= f.date_field :fecha_nac, autocomplete: "fecha-nacimiento", class: "form-control"  %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class="form-row">

    <div class="form-group col-md-6">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
    </div>
    
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label "Numero de tarjeta" %><br />
      <%= f.text_field :tarjeta_numero, placeholder: "WWWWXXXXYYYYZZZZ", class: "form-control", :"maxlength" => 16  %>
    </div>
    
    <div class="form-group col-md-4">
      <%= f.label "CVV" %>
      <%= f.text_field :tarjeta_cvv, placeholder:"XXX", class: "form-control", :"maxlength" => 3  %>
    </div>
    
    <div class="form-group col-md-2">
      <%= f.label "Vencimiento" %>

      <div class="input-group">
        <%= f.text_field :tarjeta_mes, placeholder:"XX", class: "form-control", :"maxlength" => 2 %>
        <%= f.text_field :tarjeta_ano, placeholder:"YYYY", class: "form-control", :"maxlength" => 4  %>
      </div>
    </div>
    
  </div>

  <%= hidden_field_tag "usuario[vip]", false %>

  <div class="form-row">
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-4">
      <%= f.submit t('devise.registrations.new.sign_up'), class: "form-control btn btn-primary" %>
    </div>
    <div class="form-group col-md-4"></div>
    
  </div>

  <div class="form-row">
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-4">
      <%= link_to t('devise.sessions.new.sign_in'), new_usuario_session_path, class: "form-control btn btn-light" %>
    </div>
    <div class="form-group col-md-4"></div>
  </div>

<% end %>
