<tr <%= reserva.fecha.wday == 0 ? '' : 'class=table-danger' %> >
	<td scope="col"><%= reserva.id %></td>
	<td><%= reserva.fecha %></td>
	<td><%= link_to reserva.prop.nombre, reserva.prop %></td>
	<td><%= link_to reserva.usuario.email, reserva.usuario %></td>
	<td><%= button_to "Eliminar", reserva, class: "btn btn-alert", :method => :delete%></td>
</tr>