<tr>
	<td scope="col"><%= puja.id %></td>
	<td><%= puja.valor %></td>
	<td><%= link_to puja.usuario.email, puja.usuario %></td>
	<td><%= link_to puja.sub.prop.nombre, puja.sub.prop %></td>
	<td><%= link_to t("pujas.show.subasta"), puja.sub %></td>
</tr>