<h1>Pujas</h1>

<table class="table">
	<thead>
		<th scope="col">ID</th>
		<th scope="col"><%= t("pujas.valor") %></th>
		<th scope="col"><%= t("pujas.usuario") %></th>
		<th scope="col"><%= t("pujas.propiedad") %></th>
		<th scope="col"><%= t("pujas.subasta") %></th>
	</thead>

	<tbody>
		<%= render @pujas %>
	</tbody>

</table>
