<div class="custom-form">
	
	<h3>Pujar</h3>

	<%= form_for @puja do |p| %>
		
		<div class="form-group">
			<%= p.label :valor %>
			<%= p.number_field :valor, class: "form-control" %>
		</div>

		<%= hidden_field_tag "puja[usuario_id]", current_usuario.id %>
		<%= hidden_field_tag "puja[sub_id]", params[:id] %>

		<div class="form-group">
			<%= p.submit 'Cargar', class: "form-control btn btn-primary" %>
		</div>

	<% end %>
	
</div>
