<div class="custom-form card mt-10">
  <div class="card-header">
    <h2>Sign up | Admin</h2>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= content_tag :div, class: "input-group mb-3" do -%>
        <%=content_tag(:div, f.label( :email, :class=>"input-group-text"), class: "input-group-prepend")%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
      <% end -%>

      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />

      <%= content_tag :div, class: "input-group mb-3" do -%>
        <%=content_tag(:div, f.label( :password, :class=>"input-group-text"), class: "input-group-prepend")%>
        <%= f.password_field :password, autocomplete: "new-password", :class=>"form-control" %>
      <% end -%>

      <%= content_tag :div, class: "input-group mb-3" do -%>
        <%=content_tag(:div, f.label( :confirmation, :class=>"input-group-text"), class: "input-group-prepend")%>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
      <% end -%>

      <%= f.submit "Sign up", :class=>"btn btn-primary btn-block" %>
    <% end %>

    <%= render "admins/shared/links" %>
  </div>
</div>
