<h1 class="text-center"><%= @prop.nombre%> <%= @prop.oculto ? "(oculta)"  : "(visible)"%></h1>
<h3 class="text-center"><%= @prop.ubicacion %></h3>
<h3 class="text-center">Precio: <%= @prop.precio %></h3>
<h5 class="text-center">Codigo: <%= @prop.id %></h3>

<%= image_tag url_for(@prop.imgprincipal), :alt=>@prop.nombre, class: "img-thumbnail rounded img-fluid", style: "width: 100%" %>
	<br>

	<div class="row mt-5 justify-content-center">
		<% @prop.images.each do |i| %>
			<div class="card card-custom mx-2 mb-3">
				<%= image_tag i, class: "card-img-top" %>
			</div>
		<% end %>
	</div>

<h2 class="text-center"><%= t('.reservas') %></h2>
<br>
<table class="table table-bordered table-striped">
	<thead>
		<th scope="col">ID</th>
		<th scope="col">Fecha</th>
		<th scope="col">Propiedad</th>
		<th scope="col">Cliente</th>
	</thead>

	<tbody>
		<%= render partial: "reservas/reserva", collection: @prop.reserva %>
	</tbody>

</table>

<br><br>

<h2 class="text-center"><%= t('.subastas')%></h2>
<br>
<table class="table table-bordered table-striped">
	<thead>
		<th scope="col">ID</th>
		<th scope="col"><%= t('subs.index.fecha_inicio') %></th>
		<th scope="col"><%= t('subs.index.fecha_fin') %></th>
		<th scope="col"><%= t('subs.index.fecha_reserva ') %></th>
		<th scope="col"><%= t('subs.index.propriedad') %></th>
		<th scope="col"><%= t('subs.index.ver_subasta') %></th>
	</thead>

	<%= render partial: 'subs/sub', collection: @prop.sub %>
</table>

<br><br>

<h2 class="text-center"><%= "Hot Sale" %></h2>
<br>
<table class="table table-bordered table-striped">
	<thead>
		<!-- Si el logeado es admin, que muestre la ID -->
		<% if admin_signed_in? %>
			<th scope="col">ID</th>
		<% end  %>
		<th scope="col"><%= "Fecha Hot Sale" %></th>
		<th scope="col"><%= "Fecha Reserva" %></th>
		<th scope="col"><%= "Precio" %></th>
		<th scope="col"><%= "Propiedad" %></th>
		<th scope="col"><%= "Ver Hot Sale" %></th>
	</thead>

	<%= render partial: 'hot_sales/hot_sale', collection: @prop.hot_sale %>
</table>

<br>

<%if admin_signed_in?%>
	<%= link_to t('.edit'), edit_prop_path, class: 'btn btn-info btn-sm' %>
	<%= link_to t(".nueva_subasta"), new_sub_path(:prop_id => @prop.id), class: 'btn btn-success btn-sm' %>
	<%= link_to "Nueva Hot Sale", new_hot_sale_path(:prop_id => @prop.id), class: 'btn btn-success btn-sm' %>
<%elsif usuario_signed_in? && current_usuario.vip == true%>
	<%= link_to "Reservar", new_reserva_path(@prop.id), class: 'btn btn-info btn-sm' %>
<%end%>
