<div class="custom-form">
  <h3><%= t('devise.sessions.new.sign_in')%></h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.submit t('devise.sessions.new.sign_in'), class: "form-control btn btn-primary" %>
      
      <%= render "admins/shared/links" %>
    </div>

  
  <% end %>

</div>