<div class="custom-form card">
  <div class="card-header">
    <h3><%= t('devise.sessions.new.sign_in') %> | Admin</h3>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= content_tag :div, class: "input-group mb-3" do -%>
        <%=content_tag(:div, f.label( :email, :class=>"input-group-text"), class: "input-group-prepend")%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
      <% end -%>

      <%= content_tag :div, class: "input-group mb-3" do -%>
        <%=content_tag(:div, f.label( :password, :class=>"input-group-text"), class: "input-group-prepend")%>
        <%= f.password_field :password, autocomplete: "current-password", :class=>"form-control" %>
      <% end -%>

      <%= f.submit t('devise.sessions.new.sign_in'), :class=>"btn btn-primary btn-block" %>

    <% end %>

    <%= render "admins/shared/links" %>
  </div>

</div>
