<%= form_for @sub do |d| %>
	
	<% lista_prop = options_from_collection_for_select(Prop.all, 'id', 'nombre', params[:prop_id]) %>

	<div class="form-row">
		<div class="form-group col-md-6">
			<%= d.label :fecha_inicio %>
			<%= d.date_field :fecha_inicio, required: true, class: 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= d.label :fecha_reserva %>
			<%= d.date_field :fecha_reserva, required: true, class: 'form-control'  %>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<%= d.label "Propiedad" %>
			<%= d.select :prop_id, lista_prop, {}, {class: "form-control", required: true, include_blank: false} %>
		</div>
		
		<div class="form-group col-md-6">
			<%= d.label "Precio minimo" %>
			<%= d.number_field :precio_min, required:true, class: 'form-control' %>
		</div>
	</div>
		
	

	<%= d.submit t('.save'), class: 'form-control btn btn-primary' %>
<% end %>
