<%= form_for @sub do |d| %>
	<% lista_prop = options_from_collection_for_select(Prop.all, 'id', 'nombre', params[:prop_id]) %>
	<span><%=t('.fecha_inicio')%>: </span>
	<%= d.date_field :fecha_inicio, required: true%><br><br>
	<span>Semana a subastar: </span>
	<%= d.date_field :fecha_reserva, required: true %><br><br>
	<span><%=t('.propriedad')%>: </span>
	<%= d.select :prop_id, lista_prop, required:true%><br><br>
	<span>Precio minimo: </span>
	<%= d.number_field :precio_min, required:true%><br><br>
	<%= d.submit t('.save') %>
<% end %>
