<tr>
	<td scope="col"><%= sub.id %></td>
	<td><%= sub.fecha_inicio %></td>
	<td><%= sub.fecha_fin %></td>
	<td><%= sub.fecha_reserva %></td>
	<td><%= link_to sub.prop.nombre, sub.prop %></td>
	<% if admin_signed_in? %>
		<td><%= sub.precio_min %></td>
	<% end %>
	<td><%= link_to "Ver subasta", sub %></td>
</tr>