<h1><%= t('.title') %></h1>

<table class="table">
	<thead>
		<th scope="col">ID</th>
		<th scope="col"><%= t('.fecha_inicio') %></th>
		<th scope="col"><%= t('.fecha_fin') %></th>
		<th scope="col"><%= t('.fecha_reserva') %></th>
		<th scope="col"><%= t('.propriedad') %></th>
		<th scope="col"><%= t('.ver_subasta') %></th>
	</thead>

	<tbody>
		<%= render @subs %>
	</tbody>

</table>
