<%= form_for @prop do |p| %>
  <%= p.text_field :nombre, required: true %><br>
  <%= p.text_field :ubicacion, required: true %><br>

  <%= p.check_box :oculto %>
  <span><%= t('.hidded') %></span>

  <%= p.file_field :imgprincipal, multiple: false, required: true %><br>
  <%= p.file_field :images, multiple: true %><br>
  <%= p.submit t('.save') %>
<% end %>
