<%= form_tag(props_path, method: :get) do %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Lugar</span>
    </div>
    <%= text_field_tag :ubicacion, params[:ubicacion], class: "form-control", placeholder: "Lugar" %>

    <div class="input-group-prepend">
      <span class="input-group-text">Fechas</span>
    </div>
    <%= text_field_tag :entrada, params[:entrada], class: "form-control", placeholder: "Fecha de entrada" %>
    <%= text_field_tag :salida, params[:salida], class: "form-control", placeholder: "Fecha de salida" %>

    <div class="input-group-prepend">
      <span class="input-group-text">Adultos</span>
    </div>

    <%= select_tag(
      :capacidad,
      options_for_select([['Adultos', 0],['1 adulto', 1],['2 adultos', 2],['3 adultos', 3],['4 adultos', 4],['5 adultos', 5],['6 adultos', 6]], params[:capacidad]),
      class: "custom-select",
    ) %>

    <div class="input-group-append">
      <%= submit_tag 'Buscar', name: nil, class:"btn btn-success" %>
    </div>
  </div>
<% end %>
