<!-- VISTA DEL ADMINISTRADOR -->

<% if admin_signed_in? %>

	
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Informacion personal</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          
          
          <ul class="list-group">
            <br>
            <li class="list-group-item text-muted">Actividad <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Reservas</strong></span> <%=@usuario.reserva.count%></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Subastas ganando</strong></span> <%=@subastas.count%></li>
          </ul> 
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="row">
                          <div class="col-sm-6">
                              <label for="first_name"><h4>Nombre</h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=@usuario.nombre%></p>
                          </div>
                      
                          
                          <div class="col-sm-6">
                            <label for="last_name"><h4>Apellido</h4></label>
                            <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=@usuario.apellido%></p>
                          </div>
                       </div>
     
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="last_name"><h4>Email</h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=@usuario.email%></p>
                          </div>
                      </div>
          
                      <div class="form-row">
                          <div class="col-sm-4">
                             <label for="last_name"><h4>Numero de tarjeta</h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=@usuario.tarjeta_numero%></p>
                          </div>

                          <div class="col-sm-4">
                             <label for="last_name"><h4>CVV</h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=@usuario.tarjeta_cvv%></p>
                          </div>

                          <div class="col-sm-4">
                             <label for="last_name"><h4>Vencimiento</h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=@usuario.tarjeta_mes%>/<%=@usuario.tarjeta_ano%></p>
                          </div>
                      </div>
                      
                      <div class="form-group">
                           <div class="col-sm-12">
                                <br>
                              	<%= link_to "Editar mis datos", edit_usuario_registration_path, class: 'btn btn-lg btn-success' %>
                            </div>
                      </div>
              	</form>
              
             </div><!--/tab-pane-->
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
	
	
	<h3 class="text-center">Reservas:</h2>

	<table class="table">
		<thead>
			<th scope="col">ID</th>
			<th scope="col">Fecha</th>
			<th scope="col">Propiedad</th>
			<th scope="col">Cliente</th>
			<th scope="col">Eliminar</th>
		</thead>

		<tbody>
			<%= render partial: "reservas/reserva", collection: @usuario.reserva %>
		</tbody>
		
	</table>

	<br>

	<h3 class="text-center">Subastas que gana:</h2>
	<table class="table">
		<thead>
			<th scope="col">ID</th>
			<th scope="col"><%= t('.fecha_inicio') %></th>
			<th scope="col"><%= t('.fecha_fin') %></th>
			<th scope="col"><%= t('.fecha_reserva') %></th>
			<th scope="col"><%= t('.propiedad') %></th>
			<th scope="col"><%= 'Precio minimo (no va)' %></th>
			<th scope="col"><%= t('.ver_subasta') %></th>
		</thead>

		<tbody>
			<%= render partial: "subs/sub", collection: @subastas %>
		</tbody>
		
	</table>


<!-- VISTA DEL USUARIO -->

<% elsif usuario_signed_in? %>



<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><%=t('.info')%></h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          
          
          <ul class="list-group">
            <br>
            <li class="list-group-item text-muted"><%=t('.actividad')%><i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong><%=t('.reservas')%></strong></span> <%=current_usuario.reserva.count%></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong><%=t('.subastas')%></strong></span> <%=@subastas.count%></li>
          </ul> 
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="row">
                          <div class="col-sm-6">
                              <label for="first_name"><h4><%=t('.nombre')%></h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=current_usuario.nombre%></p>
                          </div>
                      
                          
                          <div class="col-sm-6">
                            <label for="last_name"><h4><%=t('.apellido')%></h4></label>
                            <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=current_usuario.apellido%></p>
                          </div>
                       </div>
     
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="last_name"><h4><%=t('.email')%></h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=current_usuario.email%></p>
                          </div>
                      </div>
          
                      <div class="form-row">
                          <div class="col-sm-4">
                             <label for="last_name"><h4><%=t('.numtarj')%></h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=current_usuario.tarjeta_numero%></p>
                          </div>

                          <div class="col-sm-4">
                             <label for="last_name"><h4>CVV</h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=current_usuario.tarjeta_cvv%></p>
                          </div>

                          <div class="col-sm-4">
                             <label for="last_name"><h4><%=t('.venc')%></h4></label>
                              <p style=" border: 1px solid #BBB; border-radius: 4px;padding: 10px;"><%=current_usuario.tarjeta_mes%>/<%=current_usuario.tarjeta_ano%></p>
                          </div>
                      </div>
                      
                      <div class="form-group">
                           <div class="col-sm-12">
                                <br>
                              	<%= link_to t('.editar'), edit_usuario_registration_path, class: 'btn btn-lg btn-success' %>
                            </div>
                      </div>
              	</form>
              
             </div><!--/tab-pane-->
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


	<h3 class="text-center"><%=t('.reservas')%>:</h2>

	<table class="table">
		<thead>
			<th scope="col">Codigo de Reserva</th>
			<th scope="col">Fecha</th>
			<th scope="col">Propiedad</th>
			<th scope="col">Eliminar</th>
		</thead>

		<tbody>

			<% @usuario.reserva.each do |r| %>

				<tr>
					<td><%= r.id %></td>
					<td><%= r.fecha %></td>
					<td><%= link_to r.prop.nombre, r.prop %></td>
					<td><%= button_to "Eliminar", r, :method => :delete, class: "btn btn-danger" %></td>
				</tr>
			<% end %>
		</tbody>
		
	</table>

	<br>

	<h3 class="text-center">Subastas que gana:</h2>
	<table class="table">
		<thead>
			<th scope="col">Codigo de subasta</th>
			<th scope="col"><%= t('.fecha_reserva') %></th>
			<th scope="col"><%= t('.propiedad') %></th>
			<th scope="col"><%= t('.ver_subasta') %></th>
		</thead>

		<tbody>

			<% @subastas.each do |s| %>
				<tr>
					<td scope="col"><%= s.id %></td>
					<td><%= s.fecha_reserva %></td>
					<td><%= link_to s.prop.nombre, s.prop %></td>
					<td><%= link_to "Ver subasta", s %></td>
				</tr>

			<% end %>

		</tbody>
		
	</table>

<% end %>