<div class="container-fluid">

	<%= form_for @usuario do |u| %>
		<%= content_tag :div, class: "input-group mb-3" do -%>
			<%=content_tag(:div, u.label( :email, :class=>"input-group-text"), class: "input-group-prepend")%>
			<%= u.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
		<% end -%>

		<% if @minimum_password_length %>
		<em>(<%= @minimum_password_length %> characters minimum)</em>
		<% end %><br />

		<%= content_tag :div, class: "input-group mb-3" do -%>
			<%=content_tag(:div, u.label( :password, :class=>"input-group-text"), class: "input-group-prepend")%>
			<%= u.password_field :password, autocomplete: "new-password", :class=>"form-control" %>
		<% end -%>

		<%= content_tag :div, class: "input-group mb-3" do -%>
			<%=content_tag(:div, u.label( :confirmation, :class=>"input-group-text"), class: "input-group-prepend")%>
			<%= u.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
		<% end -%>

		<%= content_tag :div, class: "input-group mb-3" do -%>
			<%=content_tag(:div, u.label( :numero_tarjeta, :class=>"input-group-text"), class: "input-group-prepend")%>
			<%= u.text_field :tarjeta, :class=>"form-control" %>
		<% end -%>

		<%= u.submit "Edit usuario", :class=>"btn btn-primary btn-block" %>
	<% end %>

</div>
