<!-- VISTA DEL ADMINISTRADOR -->

<% if admin_signed_in? %>


	<h1 class="text-center"><%= @usuario.email %> <small>(ID: <%= @usuario.id %>)</small></h1>
	<h3 class="text-center">Reservas:</h2>

	<table class="table">
		<thead>
			<th scope="col">ID</th>
			<th scope="col">Fecha</th>
			<th scope="col">Propiedad</th>
			<th scope="col">Cliente</th>
			<th scope="col">Eliminar</th>
		</thead>

		<tbody>
			<%= render partial: "reservas/reserva", collection: @usuario.reserva %>
		</tbody>
		
	</table>

	<br>

	<h3 class="text-center">Subastas que gana:</h2>
	<table class="table">
		<thead>
			<th scope="col">ID</th>
			<th scope="col"><%= t('.fecha_inicio') %></th>
			<th scope="col"><%= t('.fecha_fin') %></th>
			<th scope="col"><%= t('.fecha_reserva') %></th>
			<th scope="col"><%= t('.propriedad') %></th>
			<th scope="col"><%= 'Precio minimo (no va)' %></th>
			<th scope="col"><%= t('.ver_subasta') %></th>
		</thead>

		<tbody>
			<%= render partial: "subs/sub", collection: @subastas %>
		</tbody>
		
	</table>


<!-- VISTA DEL USUARIO -->

<% elsif usuario_signed_in? %>

	<h1 class="text-center"><%= @usuario.email %></h1>
	<h3 class="text-center">Reservas:</h2>

	<table class="table">
		<thead>
			<th scope="col">Codigo de Reserva</th>
			<th scope="col">Fecha</th>
			<th scope="col">Propiedad</th>
			<th scope="col">Eliminar</th>
		</thead>

		<tbody>

			<% @usuario.reserva.each do |r| %>

				<tr>
					<td><%= r.id %></td>
					<td><%= r.fecha %></td>
					<td><%= link_to r.prop.nombre, r.prop %></td>
					<td><%= button_to "Eliminar", r, :method => :delete, class: "btn btn-danger" %></td>
				</tr>
			<% end %>
		</tbody>
		
	</table>

	<br>

	<h3 class="text-center">Subastas que gana:</h2>
	<table class="table">
		<thead>
			<th scope="col">Codigo de subasta</th>
			<th scope="col"><%= t('.fecha_reserva') %></th>
			<th scope="col"><%= t('.propriedad') %></th>
			<th scope="col"><%= t('.ver_subasta') %></th>
		</thead>

		<tbody>

			<% @subastas.each do |s| %>
				<tr>
					<td scope="col"><%= s.id %></td>
					<td><%= s.fecha_reserva %></td>
					<td><%= link_to s.prop.nombre, s.prop %></td>
					<td><%= link_to "Ver subasta", s %></td>
				</tr>

			<% end %>

		</tbody>
		
	</table>

	<%= link_to "Editar mis datos", edit_usuario_registration_path, class: 'btn btn-info btn-sm' %>
	

<% end %>