<!DOCTYPE html>
<html>
<head>
  <title>HomeSwitchHome</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Reemplaza el link por el / -->
    <a class="navbar-brand" href="<%= root_path %>">HomeSwitchHome</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <!-- Agrega la clase "active" solo si esta parado en el mismo path -->
        <li class="nav-item <%= current_page?(props_path) ? 'active' : '' %>">
          <%= link_to "Lista de propiedades", props_path, { :class=>"nav-link" } %>
        </li>

        <!-- Agrega la clase "active" solo si esta parado en el mismo path -->
        <li class="nav-item <%= current_page?(new_prop_path) ? 'active' : '' %>">
          <%= link_to "Agregar propiedad", new_prop_path, { :class=>"nav-link" } %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lista Rapida
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <% Prop.first(5).each do |p| %>
            <%= link_to p.nombre, p, { :class=>"dropdown-item" } %>
            <% end %>

          </div>
        </li>
      </ul>
      <p class="navbar-text pull-right">
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "English", { :locale=>'en' } %>
      <% else %>
        <%= link_to "Français", { :locale=>'fr' } %>

      <%end%>
      <% if user_signed_in? %>
        Conectado como <strong><%= current_user.email %></strong>.
        <%= link_to "Editar perfil", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <% else %>
        <%= link_to "Inscripción", new_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Conexión", new_user_session_path, :class => 'navbar-link' %>
      <% end %>
      </p>
    </div>
  </nav>

  <!-- Bloque principal -->
  <div id="main">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
