<tr>

	<% if admin_signed_in? %>
		<td><%=  hot_sale.id %></td>
	<% end %>
	<td> <%= hot_sale.fecha_hotsale %>  </td>
	<td> <%= hot_sale.fecha_reserva %>  </td>
	<td> <%= hot_sale.precio %></td>
	<td> <%= link_to hot_sale.prop.nombre, hot_sale.prop %>  </td>
	<td> <%= link_to "Ver Hot Sale", hot_sale %>  </td>
</tr>