<h1>Subastando: <%= link_to @sub.prop.nombre, @sub.prop %></h1>
<h5>La semana del <%= @sub.fecha_reserva%></h5>
<h5>Codigo de subasta: <%= @sub.id %></h5>
<table class="table">
	<thead>
		<th scope="col">ID</th>
		<th scope="col"><%= t('.valor') %></th>
		<th scope="col"><%= t('.usuario') %></th>
		<th scope="col"><%= t('.propiedad') %></th>
		<th scope="col"><%= t('.subasta') %></th>		
	</thead>

	<%= render @pujas %>
</table>


<% if (@sub.fecha_inicio <= Date.today) && ( Date.today <= @sub.fecha_fin) && usuario_signed_in? %>
	<%= link_to t('.pujar'), pujar_path(@sub), class: "btn btn-info btn-sm" %>
<% end %>