<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <%= link_to image_tag("HSH-Logo.svg", :height => "40px"), admin_signed_in? ? admin_root_path : root_path, { :class=>"navbar-brand" } %>
  <%= link_to image_tag("HSH-Text.svg", :height => "20px"), admin_signed_in? ? admin_root_path : root_path, { :class=>"navbar-brand" } %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if admin_signed_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.add') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('layouts.header.add_prop'), new_admin_prop_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.add_usuario'), new_admin_usuario_path, { :class=>"dropdown-item" } %>
          </div>
        </li>
      <%elsif usuario_signed_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.add') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('layouts.header.add_reserva'), new_reserva_path, { :class=>"dropdown-item" } %>
          </div>
        </li>
      <%end%>

      <%if admin_signed_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.list') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('layouts.header.top_usuarios'), admin_usuarios_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.top_reservas'), reservas_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.list_subastas'), subs_path, { :class=>"dropdown-item" } %>
          </div>
        </li>
      <%elsif usuario_signed_in?%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.list') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('layouts.header.top_reservas'), reservas_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.list_subastas'), subs_path, { :class=>"dropdown-item" } %>
          </div>
        </li>
      <%end%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('layouts.header.language') %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <%= link_to t('layouts.header.spanish'), { :locale=>'es' }, :class=>"dropdown-item" %>
          <%= link_to t('layouts.header.english'), { :locale=>'en' }, :class=>"dropdown-item" %>
          <%= link_to t('layouts.header.french'), { :locale=>'fr' }, :class=>"dropdown-item" %>

        </div>
      </li>
    </ul>


    <span class="nav-item">
      <% if usuario_signed_in? %>

        <%= link_to current_usuario.email, mi_cuenta_path %>
        <span>|</span>
        <%= link_to t('devise.sessions.sign_out'), destroy_usuario_session_path, :method => :delete %>

      <% elsif admin_signed_in?%>

        <span>admin: <%= current_admin.email %> | </span>
        <%= link_to t('devise.sessions.sign_out'), destroy_usuario_session_path, :method => :delete %>

      <% else %>

        <%= link_to "Log admin", new_admin_session_path %>
        <span> | </span>
        <%= link_to t('devise.sessions.new.sign_in'), new_usuario_session_path %>
        <span> | </span>
        <%= link_to t('devise.registrations.new.sign_up'), new_usuario_registration_path %>

      <% end %>
    </span>

  </div>
</nav>
