<!DOCTYPE html>
<html>

<%= render "layouts/header" %>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Reemplaza el link por el / -->
    <%= link_to image_tag("HSH-Complete.svg", :height => "60px"), root_path, { :class=>"navbar-brand" } %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.add') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <%= link_to t('layouts.header.add_prop'), new_prop_path, { :class=>"dropdown-item" } %>
            
            <%= link_to t('layouts.header.add_subastas'), new_sub_path, { :class=>"dropdown-item" } %>

            <%= link_to t('layouts.header.add_reserva'), new_reserva_path, { :class=>"dropdown-item" } %>

            <%= link_to t('layouts.header.add_usuario'), new_usuario_path, { :class=>"dropdown-item" } %>

          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.list') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <%= link_to t('layouts.header.top_usuarios'), usuarios_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.top_reservas'), reservas_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.list_subastas'), subs_path, { :class=>"dropdown-item" } %>
            <%= link_to t('layouts.header.list_prop'), props_path, { :class=>"dropdown-item" } %>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('layouts.header.language') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <%= link_to "Español", { :locale=>'es' }, :class=>"dropdown-item" %>
            <%= link_to "English", { :locale=>'en' }, :class=>"dropdown-item" %>
            <%= link_to "Français", { :locale=>'fr' }, :class=>"dropdown-item" %>

          </div>
        </li>

      </ul>

    </div>
  </nav>

  <!-- Bloque principal -->
  <div id="main">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

</body>

<%= render "layouts/footer" %>

</html>
