<!DOCTYPE html>
<html>

<%= render "layouts/header" %>

<body>

  <%= render "layouts/navigation" %>

  <!-- Bloque principal -->
  <div id="main">

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

</body>

<%= render "layouts/footer" %>

</html>
